html{
  font-size: 62.5%;
}

@keyframes main-back{
  0%{
    background-color: #C7C9F7;
  }
  33%{
    background-color: #1741b4;
  }
  67%{
    background-color: #e9a3ba;
  }
  100%{
    background-color: #C7C9F7;
  }
}

@keyframes main-color{
  0%{
    color: #6c71f5;
  }
  33%{
    color: #1741b4;
  }
  67%{
    color: #e93c75;
  }
  100%{
    color: #6c71f5;
  }
}

@keyframes main-border{
  0%{
    border-color: #6c71f5;
  }
  33%{
    border-color: #1741b4;
  }
  67%{
    border-color: #e93c75;
  }
  100%{
    border-color: #6c71f5;
  }
}

/* #C7C9F7 */

body {
  background-color: #C7C9F7;
  margin: 0;
  padding: 0;
  margin-right: 0;
  /* font-size: 16px; */
  font-size: 1.6rem; 
  line-height: 1.5; 
  animation: main-back 8s infinite;
  font-family: 'PT Sans', sans-serif;
}

.container {
  background-color: white;
  max-width: 97%;
  margin: 0 auto;
}

.spacer {
  width: 100%;
  margin: 0;
}

.mobile-hide{
  display: none;
}

.sticky-nav{
  position: sticky;
  top: 0;
  z-index:9;
  background-color: white;
}
*/

.navbar-2{
  position: sticky;
  top: 0;
}

ul.navbar-2{
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content:center;
  align-items: center;
  height: 5rem;
  margin: 0;
  padding: 0;
}

.desktop-only{
  display: none;
}

.mobile-only{
  display: initial;
}

ul.navbar-1{
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  margin: 0;
  padding: 0;
  
  border-bottom: 0.1rem solid #dfdfdf;
}

.navbar-2 li{
  flex: 0 0 auto;
  padding: 0 2%;
}

.navbar-2 a, .navbar-1 a{
  color: black;
  text-decoration: none;
}

.navbar-1__in-logo{
  background-color: white;
  color: rgb(226, 66, 114);
  font-size: 2.4rem;
  padding-left: 2.4rem;
}

.navbar-1__burger{
  font-size: 2rem;
  padding-right: 2.4rem;
}

.btn {
  margin-left: auto;
  margin-right: 3%
}

.btn--subscribe{
  color: white;
  background-color: rgb(216, 40, 93);
  border: 0;
  border-radius: 2rem;
  padding: 0.6rem 1.6rem;
  font-size: 1.6rem;
}

div.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  border: 0.1rem solid #0828CC;
  animation: main-border 8s infinite;
  border-radius: 50%;
  margin-bottom: 0.8rem;
  background-color: white;
}

.logo{
  font-weight: 600;
  font-size: 2.4rem;
}

.intro{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 82rem;
  /* max-height: 90vh; */
  align-items: center;
  position: relative;
}

.intro__heading{
  background-color: rgb(0, 21, 93);
  color: white;

  height: 46rem;
  width: 100%;

  justify-self: flex-start;
  box-sizing: border-box;
  padding: 6%;
  padding-top: 1%;
  padding-right: 4%;
}

.intro__heading h1{
  font-size: 4.4rem;
  font-family: Prompt, sans-serif;
  font-weight: 500;
  margin-bottom: 1.2rem;
  margin-top: 2.4rem;
}

.intro__heading p{
  font-size: 1.8rem;
  line-height: 200%;
}

.btn--intro{
  font-size: 1.2rem;
  font-weight: bold;
  color: #00155D;
  background-color: #54F5AF;
  padding: 1.8rem 3.6rem;
  border: none;
  border-radius: 20rem;
  margin-bottom: 3rem;
}

.intro__photo{
  width: 100%;
  height: 36rem;
  margin: 0;
  padding: 0;
  background-image: url("https://s3.amazonaws.com/designco-web-assets/uploads/2020/07/Cover-min.png");
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
}


.library{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 1rem;
}

.library__intro{
  text-align: center;
  padding: 1.2rem 2rem 7rem 2rem;
}

.library__intro__books{
  font-size: 1.4rem !important;
  letter-spacing: 0.1rem !important;
  font-weight: 600 !important;
}

.library__intro h2{
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 1.2rem;
  padding-top: 1.2rem;
}

.library__intro p{
  font-size: 2rem;
}

.library__book{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 4rem;
}

.library__book img{
  width: 48%;
  padding-left: 1rem;
}

.library__book__info{
  width: 40%;
}

.library__book h3{
  padding-left: 0;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
  color: black;
}

.library__book a{
  text-decoration: none;
}

.library__book a:visited{
  color: black;
}

.library__book a:hover{
  text-decoration: underline;
  color: rgb(0, 119, 255);
}

.library__book p{
  padding-left: 0;
  font-size: 1.5rem;
  margin-top: 0.6rem;
  color: rgb(133, 133, 133);
}

.nlform{
  text-align: center;
  padding: 2rem 2rem 2rem 2rem;
}

.nlform h3{
  font-size: 2.4rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.nlform p, .nlform label{
  font-size: 1.8rem;
}

.nlform input[type="text"]{
  text-align: center;
  color: rgb(167, 17, 42);
  animation: main-color 8s infinite;
  font-size: 2rem;
  background-color: inherit;
  border: none;
  border-bottom: 0.1rem solid rgb(214, 52, 79);
  animation: main-border 8s infinite;
  width: 86%;
  height: 5rem;
  margin-bottom: 1.6rem;
}

.nlform__label::after{
  content: " *";
}

.btn--form{
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffffff;
  background-color: rgb(255, 48, 83);
  padding: 1.8rem 3.6rem;
  border: none;
  border-radius: 20rem;
  margin-right: 0;
  animation: main-back 8s infinite;
}

.outro{
  text-align: center;
}

.outro h3{
  padding-top: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 0;
  padding-bottom: 2rem;
  margin-top: 0;
  color: black;
}

.outro p{
  font-size: 2rem;
  padding: 0rem 2rem 2rem 2rem;
  margin-top: 1rem;
}

.btn--outro{
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffffff;
  background-color: rgb(23, 65, 180);
  padding: 1.8rem 3.6rem;
  border: none;
  border-radius: 20rem;
  margin-top: 2rem;
  margin-right: 0;
  animation: main-back 8s infinite;
}

footer{
  padding-top: 0rem;
  margin-top: 8rem;
  height: 14rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: main-back 8s infinite;
}

footer a{
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0.6rem 0.4rem;
  width: 16rem;
}

footer .links{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* .footer__logo{
  margin-left: auto;
  padding-right: 2.4rem;
} 

footer p{
  color: #98ade6;
}

footer p:last-child{
  font-size:1.4rem;
  font-weight: bold;
  font-variant-caps:all-small-caps;
  padding-bottom: 2.2rem;
} */

@media only screen and (min-width: 484px){ 
  .intro{
    height: 78rem;
  }

  .intro__heading{
    height: 42rem;
  }
}


/* FOR TABLETS */

@media only screen and (min-width: 580px){ 
  .mobile-hide{
    display: inherit;
  }
  
  .intro{
    height: 73rem;
  }
  
  .intro__heading{
    height: 38rem;
  }
  
  .library__book img{
    width: 44%;
  }
  
  .library__book__info{
    width: 44%;
  }
  
  .library__book h3{
    font-size: 2.4rem;
  }
  
  .library__book p{
    font-size: 1.7rem;
  }

  .outro h3{
    padding-top: 4rem;
  }  

  .nlform input[type="text"]{
    width: 66%;
  }
}

/* BIGGER TABLET */
@media only screen and (min-width: 772px){
  .intro{
    height: 77rem;
  }
  
  .intro__heading{
    height: initial;
  }
  
  .intro__photo{
    height: 30em;
  }
  

  .library{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
  }
  
  .library__intro{
    text-align: center;
    padding: 1.2rem 8rem 7rem 8rem;
    width: 100%;
  }
  
  .library__intro__books{
    padding-top: 4rem;
  }

  .library__book{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
  }
  
  .library__book img{
    width: 80%;
  }
  
  .library__book__info{
    width: 80%;
    height: 10rem;
    padding-top: 2rem;
    padding-left: 1rem;
  }
  
  .library__book h3{
    font-size: 2.4rem;
  }
  
  .library__book a{
    text-decoration: none;
  }
  
  .library__book a:visited{
    color: black;
  }
  
  .library__book a:hover{
    text-decoration: underline;
    color: rgb(0, 119, 255);
  }
  
  .library__book p{
    font-size: 1.7rem;
  }

  .nlform input[type="text"]{
    width: 50%;
  }

  footer a{
    text-decoration: none;
    font-size: 1.6rem;
    width: 16rem;
  }
  
  footer .links{
    display:flex;
    flex-direction: row;
    width: 50rem;
    justify-content: space-evenly;
  }

  /* footer .footer__logo{
    display: flex;
    padding-right: 2rem;
  }

  footer .footer__logo p{
    color: #98ade6;
    padding-top: 3rem;
  }

  footer .footer__logo p:last-child{
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    position: relative;
    top: -2rem;
    padding-left: 2rem;
  } */
}


/* FOR DESKTOP */

@media only screen and (min-width: 1200px){
  body {
    width: 99.1vw;
    background-color: white;
    animation: none;
  }
  
  .container {
    max-width: 100%;
  }

  .bottomborder{
    height:2.2rem;
    width:100%;
    background-color: inherit;
    position: fixed;
    bottom:0;
    left:0;
    z-index: 10;
    animation: main-back 8s infinite;
  }

  .leftborder{
    width:2.2rem;
    height:100%;
    background-color: inherit;
    position: fixed;
    bottom:0;
    left:0;
    z-index: 10;
    animation: main-back 8s infinite;
  }

  .rightborder{
    width:2.2rem;
    height:100%;
    background-color: inherit;
    position: fixed;
    bottom:0;
    right:0;
    z-index: 10;
    animation: main-back 8s infinite;
  }

  .mobile-only{
    display: none;
  }

  .desktop-only{
    display: initial;
  }

  .navbar-1__invision-logo{
    padding-left: 5rem;
    padding-right: 17rem !important;
  }

  .navbar-2 .logo{
    padding-left: 5rem;
  }

  ul.navbar-2{
    position: sticky;
    display: flex;
    justify-content:flex-start;
    height: 5.6rem;
  }
  
  .btn {
    margin-left: auto;
    margin-right: 3%
  }
  
  .btn--subscribe{
    color: white;
    background-color: rgb(216, 40, 93);
    border: 0;
    border-radius: 2rem;
    padding: 0.6rem 1.6rem;
    font-size: 1.6rem;
  }
  
  i.fab{
    background-color: white;
    color: rgb(216, 40, 93);
    font-size: 3.2rem;
    padding-right: 1rem;
  }
  
  aside .fa-twitter, aside .fa-facebook-f, aside .fa-linkedin-in, aside .fa-link {
    background-color: white;
    color: #0828CC;
    animation: main-color 8s infinite;
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }
  
  aside{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    bottom: 3%;
    right: 2%;
  }
  
  ul.navbar-1{
    position: sticky;
    justify-content: space-evenly;
  } 

  ul.navbar-1 li{
    padding-right: 5rem;
  }

  .logo{
    font-size: 2.8rem;
  }

  ul.navbar-1 .logo{
    padding-right: 15.6rem;
  }

  .navbar-1__signin{
    justify-self: flex-end;
  }
  
  .intro{
    justify-content: flex-end;
    height: 86rem;
    max-height: 90vh;
  }
  
  .intro__heading{
    /* height: 62%; */
    width: 45%;
    flex: 0 1 40%;
    position: absolute;
    padding-bottom: 2%;
    left: 0;
    top:50%;
    transform: translate(0, -50%);
    z-index: 2;
  }
  
  .intro__heading h1{
    font-size: 5.4rem;
  }

  .intro__heading p{
    font-size:2rem;
  }
  
  .btn--intro{
    margin-right: 0;
  }
  
  .btn--form, .btn--outro{
    margin-right: 0;
  }

  .intro__photo{
    margin-left: auto;
    background-image: url("https://s3.amazonaws.com/designco-web-assets/uploads/2020/07/Cover-min.png");
    height: 100%;
    width: 150rem;
    max-width: 75%;
    /* flex: 0 1 75% */
  }

  .library{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .library__intro{
    padding: 1.2rem 15rem 7rem 15rem;
    width: 100%;
  }
  
  .library__intro__books{
    padding-top: 4rem;
    font-size: 1.6rem !important;
  }

  .library__intro h2{
    font-size: 4rem;
  }

  .library__intro p:last-child{
    margin-bottom: 6rem;
  }

  .library__book{
    flex-direction: column;
    justify-content: flex-start;
    width: 29%;
    margin-bottom: 4rem;
    height: 70rem; 
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .library__book img{
    width: 100%;
    padding-left: 0;
  }
  
  .library__book__info{
    width: 100%;
    height: 20rem;
  }
  
  .library__book h3{
    font-size: 2.8rem;
  }

  .library__book p{
    font-size: 2.0rem;
  }

  .outro>h3{
    font-size: 4.4rem;
  }

  .nlform>h3{
    font-size: 3.6rem;
  }
  
  .nlform input[type="text"]{
    width: 40%;
  }

  footer{
    height:14rem;
  }
}

@media only screen and (min-width: 1350px){
  .intro__heading{
    width: 40%;
    /* height: 45%; */
  }
}

@media only screen and (min-width: 1710px){
  .library{
    padding-left: 22rem;
    padding-right: 22rem;
  }
  .library__book{
    margin-bottom: 4rem;
    padding-bottom: 0;
    height: 74rem;
  }
}


@media only screen and (min-width: 2000px){
  .container{
    box-sizing: border-box;
    width: 2000px;
  }
}

@media only screen and (min-width: 2560px){
  html{
    font-size: 80%;
  }
  .container{
    width: 2200px;
  }
  .library__book{
    height: 84rem;
  }
}

@media only screen and (min-width: 3840px){
  html{
    font-size: 110%;
  }
  .container{
    width: 3000px;
  }
  .library__book{
    margin-bottom: 0;
    padding-bottom: 0;
    height: 80rem;
  }
}
