html{
	height: 100%;
}

body{
	background: url(https://images.unsplash.com/photo-1521067842-8d1618327b7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80);
	background-size: cover;
	background-position: top;
	font-family: Kumbh Sans, serif;	
}

.navbar-brand{
	font-weight: 700;
}

#avatar{
	width: 180px;
	border-radius: 25%;
}

#main-content{
	text-align: center;
	padding-top: 12%;
}

#about-content{
	text-align: center;
	padding-top: 8%;
}

h1{
	font-size: 4.0em;
	font-weight: 700;
	font-family: Arvo, serif;
}

hr{
	width: 500px;
	background-color: #333;
	border-top: 1px solid ;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.btn-lg{
	padding-top: 12px;
}

h2{
	font-size: 3.0em;
	font-weight: 700;
	font-family: Arvo, serif;
	padding-top: 16px;
	padding-bottom: 12px;
}

h4{
	padding-top: 14px;
	padding-bottom: 10px;
	font-size: 2.0em;
}

#contact{
	text-align: center;
}

.contact-button:hover {
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
 }
.contact-button {
 	padding: 4px 14px;
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;

    color:#555;
 }