img{
	width: 30%;
	float: left;
	margin: 1.66%;
	padding: 0;
	border: 0;
}

p{
	font-family: 'Raleway';
	font-size: 28px;
	margin: 1.66%;
	font-weight: 800;
	width:30%;
	border-bottom: 2px solid #EEEEEE;
	padding-bottom: 20px;
	float: left;
}

#contact{
	width: 30%;
	text-align: right;
}

#bw{
	text-align: center;
}

#footer{
	background:#EAEAEA;
	width:96.68%;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	padding: 10px 0;
}